article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:"\201C" "\201D" "\2018" "\2019";}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;*behavior:url(/js/boxsizing.htc);}
html{background:url(/images/bg-body.jpg) repeat-x 0 0;color:#d1d1d1;-webkit-font-smoothing:antialiased;overflow-x:hidden;}
body{font-size:1em;font-family:Verdana,sans-serif;line-height:1.4;}
.wrapper{position:relative;width:960px;margin:0 auto;}
.chromeframe{background:#000;color:#fff;margin:10px 0;padding:10px 20px;}
img{vertical-align:middle;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
h1{font-size:3.5em;margin:0.5em 0;}
h2{font-size:1.5em;margin:0.83em 0;}
h3{font-size:1.17em;margin:1em 0;}
h4{font-size:1em;margin:1.33em 0;}
h5{font-size:0.83em;margin:1.67em 0;}
h6{font-size:0.75em;margin:2.33em 0;}
a{color:#61758f;text-decoration:none;}
a:hover{color:#576980;text-decoration:underline;}
.snowfall-flakes{opacity:0.3;}
.sky{position:relative;height:885px;}
#moon{position:absolute;top:900px;left:35px;}
#santa{position:absolute;top:700px;left:2000px;}
#message{position:absolute;top:515px;left:107px;display:none;}
.ground{position:relative;height:601px;padding-top:231px;background:url(/images/trees.png) repeat-x top center;}.ground .wrapper{background:url(/images/cw-logo.png) no-repeat 705px 250px;}
.ground p{float:left;margin:300px 0 25px;font-size:0.7em;}
.ground .cw{position:absolute;bottom:-80px;right:0;width:200px;opacity:0.17;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=17)";filter:alpha(opacity=17);}
#billboard{position:absolute;top:-125px;left:510px;}
#billboard-media{position:absolute;top:-115px;left:90px;width:995px;height:477px;}#billboard-media img{position:absolute;top:0;left:0;}
.snow-hills{background:url(/images/snow-hills.png) no-repeat bottom center;}
#mep_0{position:absolute;top:0;right:25px;}
.pull-left{float:left;}
.pull-right{float:right;}
.cf{*zoom:1;}.cf:before,.cf:after{display:table;content:"";}
.cf:after{clear:both;}
.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px;}
.ir:before{content:"";display:block;width:0;height:100%;}
.show{display:block;}
.hide,[hidden]{display:none;}
.hidden{display:none !important;visibility:hidden;}
.visuallyHidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.hide-text{text-indent:100%;white-space:nowrap;overflow:hidden;}
::-moz-selection{background:#62aaf2;color:#fff;text-shadow:none;}
::selection{background:#62aaf2;color:#fff;text-shadow:none;}
@media print{*{background:transparent !important;color:black !important;box-shadow:none !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important;} a,a:visited{text-decoration:underline;} a[href]:after{content:" (" attr(href) ")";} abbr[title]:after{content:" (" attr(title) ")";} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";} pre,blockquote{border:1px solid #999;page-break-inside:avoid;} thead{display:table-header-group;} tr,img{page-break-inside:avoid;} img{max-width:100% !important;} @page {margin:0.5cm;}p,h2,h3{orphans:3;widows:3;} h2,h3{page-break-after:avoid;}}
